<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/masonry/">



    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .zoom {
        transition: transform .2s; /* Animation */
      } 

    .zoom:hover {
        transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    </style>
</head>

<body>

  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="https://res.cloudinary.com/meme-o-gram/image/upload/v1623483621/Screenshot_from_2021-06-12_13-08-23_sivmxv.png" width="100" height="100" class="me-2" viewBox="0 0 118 94" role="img">
            <title><h1>Meme-o-gram</h1></title>
            {{!-- <path fill-rule="evenodd" clip-rule="evenodd"
                d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                fill="currentColor"></path> --}}
            </svg>
            <h1>Meme-o-gram</h1>
        </a>
      </header>

      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">By the Memers, For the Memers & Of the memers</h1>
          <p class="col-md-8 fs-4">Do You think you are a Memer ? Do you think your memes are worthy enough to get Rated ?
              <b>Join our community and get yourself Rated !</b>
          </p>
          <a class="btn btn-primary btn-lg" role="button" href="/register">Register Now</a>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>You're a Memer For a cause !</h2>
            <p>Sometimes It only takes a meme to bring about a smile in the faces of millions </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Open to suggestions.</h2>
            <p>Meme-o-gram aims to provide a platform to some of the best memers of the society 
                Convey your feedback on your experience</p>
            <button class="btn btn-outline-secondary" type="button">Give Feedback</button>
          </div>
        </div>
      </div>


      <footer class="pt-3 mt-4 text-muted border-top text-center">
        
      </footer>
    </div>
    {{!-- <div class="row md-12"> --}}
    <hr class="my-5">
        <div class="col-md-3 ">
            <div class = "card">
            <div class="h-100 p-5 bg-light border rounded-3">
            <div class = "zoom">
            <img src="https://res.cloudinary.com/meme-o-gram/image/upload/v1622667856/iogka3elbfkxzqw4xwba.jpg" class="img-fluid" alt="Responsive image">
            </div>
            </div>
          </div>
    </div>
       <div class="col-md-3">
        <div class = "card">
          <div class="h-100 p-5 bg-light border rounded-3">
             <div class = "zoom">
              <img src="https://res.cloudinary.com/meme-o-gram/image/upload/v1622465126/qra0mbbjkdc1rsboxhwt.png" class="img-fluid" alt="Responsive image">
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="card">
          <div class="h-100 p-5 bg-light border rounded-3">
             <div class = "zoom">
              <img src="https://res.cloudinary.com/meme-o-gram/image/upload/v1623156225/Screenshot_from_2021-05-28_14-10-26_bxrtyj.png" class="img-fluid" alt="Responsive image">
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="card">
          <div class="h-100 p-5 bg-light border rounded-3">
             <div class = "zoom">
           <img src=" https://res.cloudinary.com/meme-o-gram/image/upload/v1623090731/bc8d6h89ru3zrvlhtz64.gif" class="img-fluid" alt="Responsive image">
          </div>
          </div>
      </div>
    </div>
  </div>
  </main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
    crossorigin="anonymous"></script>


</body>
</html>